.form {
  width: 25rem;
  &-elem {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    &-label {
      display: block;
      font-size: var(--font-size-small);
      text-transform: uppercase;
      opacity: 0.5;
    }
  }
}
